@font-face {
    font-family: remixicon;
    src: url(./rewrite.woff);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'remixicon';
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: clamp(14px, 1.5vw, 18px);
}



@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1900px;
}


main {
    width: 100%;
    padding: 1rem;
    @include flex-column(0rem);
    align-items: center;


    section.view1 {
        width: 100%;
        @include flex-column(1rem);

        .top {
            width: 100%;


            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #171819;
            padding: 1rem;
            border-radius: 0.7rem;
            @include flex-column(3rem);


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 200;
                    font-size: 2.7rem;
                }

                p {
                    line-height: 1.5;
                    font-size: 1.5rem;
                    font-weight: 100;
                    opacity: 0.6;
                }

                button {
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    width: fit-content;
                }
            }
        }


    }

    section.view2 {
        @include flex-column(2.5rem);
        width: 100%;
        padding: 1rem;


        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;


            .element {
                text-align: center;
                @include flex-column(0.5rem);

                small {
                    opacity: 0.6;
                }

                h2 {
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #171819;
            padding: 1rem;
            border-radius: 0.7rem;
            @include flex-column(3rem);


            .text {
                @include flex-column(0.7rem);
                margin-top: 5rem;

                h1 {
                    font-weight: 200;
                    font-size: 2.7rem;
                }

                p {
                    line-height: 1.5;
                    font-size: 1.5rem;
                    font-weight: 100;
                    opacity: 0.6;
                }


            }
        }

        .bottom>p {
            text-transform: uppercase;
        }
    }

    section.view4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;

        .card1 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url('./card 1.webp');
            background-size: cover;
            aspect-ratio: 1/1;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;
        }
        
        .card2 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url('./card 2.webp');
            background-size: cover;
            aspect-ratio: 1/1;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;
        }
        
        .card3 {
            width: 100%;
            border-radius: 0.7rem;
            background-image: url('./card 3.webp');
            background-size: cover;
            aspect-ratio: 1/1;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;
        }
        
        .icon,.bottom {
            background-color: #28282898;
            backdrop-filter: blur(5px);
            border: 1px solid white;
            border-radius: 0.7rem;
            padding: 0.5rem;

        }

        .top {
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
        }

        .bottom{
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 1rem;

            p{
                text-transform: uppercase;
            }
        }

        .icon {
            width: fit-content;
            border-radius: 50%;
        }
    }

}

@media (min-width: 900px) {
    main {

        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top {
                width: 50%;
            }

            .bottom {
                width: 50%;
                justify-content: space-between;
                padding: 3rem;
            }

            .text {
                gap: 1.5rem;

                h1 {
                    font-size: 3.5rem;
                }

                p {
                    width: 80%;
                    font-size: 1rem;
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;


                .paragraphs {
                    display: flex;
                    gap: 2rem;

                    p {
                        font-size: 1rem;
                    }
                }
            }

        }

        section.view4 {
            flex-direction: row;
        }
    }
}