* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: clamp(14px, 1.5vw, 18px);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1900px;
}


main{
    width: 100%;
    padding: 1rem;
    @include flex-column(0rem);
    align-items: center;


.view1{
        width: 100%;
        @include flex-column(1rem);

        .top {
            width: 100%;
            

            img{
                width:100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #2d2d2d;
            padding: 1rem;
            border-radius: 0.7rem;
            @include flex-column(3rem);


            .text{
                @include flex-column(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.7rem;
                }

                p{
                    line-height: 1.5;
                    font-size: 1.5rem;
                    font-weight: 100;
                    opacity: 0.6;
                }

                button {
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    width: fit-content;
                }
            }
        }

        
    }
  
}

@media (min-width: 900px) {
  main{

      .view1{
        flex-direction: row;
        padding: 1rem 4rem ;

        .top{
            width: 50%;
        }
        .bottom{
            width: 50%;
            justify-content: space-between;
            padding: 3rem;
        }

        .text{
            gap: 1.5rem;

            h1 {
                font-size: 3.5rem;
            }

            p{
                width: 80%;
                font-size: 1rem;
            }
        }
      }
  } 
}